@use "variable" as v;

main{
    font-size: 30p;
    color: v.$colortexto;
    font-family: v.$body;
    padding: v.$margen30;
    .Venta{
            .Pregunta{
                display: flex;
                flex-direction: column;
                margin: 0;
                padding: 15px;
                margin-top: 15px;
                .Deslizar{
                background: rgb(252, 185, 195);}
            }
            article{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            .producto{
                display: flex;
                flex-direction: column;
                align-items: center; 
                .tienda{
                margin: 10px;
                height: 60vh;
                width: 30vw;
                border-radius: 40px;
                object-fit: cover;
                display: inline-block;
                }
                .tienda:hover{
                    animation: tienda 1s forwards ease-in-out;
                }
                        @keyframes tienda {
                            0%{
                                scale: 1;
                                }
                            100%{
                                scale: 1.1;
                                }
                            }
                    }
        }    
    }
    .contenedorgaleria{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 300px;
        padding: 20px;
        grid-gap: 10px;
        .img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
        }
        .galeria:nth-child(1){
        grid-column-start: span 2;
        grid-row-start: span 2;
            }
        .galeria:nth-child(3){
        grid-row-start: span 2;
            }
        .galeria:nth-child(4){
        grid-row-start: span 2;
            }
        .galeria:nth-child(7){
        grid-row-start: span 2;
            }
        .galeria:nth-child(9){
        grid-column-start: span 2;
            }
            .img:hover{
                    animation: img 1s forwards ease-in-out;
                }
                        @keyframes img {
                            0%{
                                scale: 1;
                                }
                            100%{
                                scale: 1.1;
                                }
                            }
        }
    .Sobremi{
            padding: v.$margen30;
            margin: auto;
            .texto{
                background: rgb(252, 185, 195);
            }
            .foto{
            display: flex;
            justify-content: center;
            margin-top: v.$margen30;
            height: 100vh;
            width: auto;
    }}
    .carru{
        display: flex;
        justify-content: center;
        align-items: center;
        .d-block{
            height: 100vh;
            width: auto;
        }
    }
    form{
    height: auto;
    width: 400px;
    background-image: url(../Wireframe/fotoContacto.png) ;
    background-size: contain;
    padding:  v.$margen30;
    margin: auto;
    margin-top: 50px;
        .Controls{
            width: 100%;
            background: v.$colorcontrols;
            padding: 10px;
            border-radius: 4px;
            margin-bottom: 16px;
            border: 1px solid  v.$colorfuenteprincipal;
            }
        .Mensaje{
            width: 100%;
            background: v.$colorcontrols;
            padding: 10px;
            border-radius: 4px;
            margin-bottom: 16px;
            border: 1px solid  v.$colorfuenteprincipal;
        }
        .Botton{
            width: 100%;
            background: rgb(251, 118, 151) ;
            border: none;
            padding: 12px;
            color: white;
            margin: 16px 0;
            font-size: 16px;
        }
        }
        .Ubicacion{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
        }
}
    @include v.mobile{
        main{
            width: 100%;
            padding: 10px;
            flex-direction: column;
                .carru{
                    width: 100%;
                    object-fit: cover;
                    display: inline-block
                }
                .Sobremi{
                flex-direction: column;
                    .SM{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .foto{
                        margin: 0;
                        height: 350px;
                        padding: 10px;
                        margin-top: 30px;
                        flex-direction: column;
                    }}
                .contenedorgaleria{
                padding: 30px;
                grid-template-columns: repeat(1, 1fr);
                }
                .galeria:nth-child(1){
                grid-column-start: span 2;
                grid-row-start: span 2;}
                .galeria:nth-child(3){
                grid-row-start: span 2;}
                .galeria:nth-child(4){
                grid-row-start: span 2;}
                .galeria:nth-child(7){
                grid-row-start: span 2;}
                .galeria:nth-child(9){
                grid-column-start: span 2;}
                .productos{
                    display: flex;
                    flex-direction: column;
                        .tienda{
                            margin: 10px;
                            width: 60vw;
                            object-fit: cover;
                            display: inline-block;
                }}
            }
        }
